*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    max-width: 1300px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 1120px;
}
.head{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.samlogo{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.logo{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}


.stuit{
    font-weight: 600;
    font-size: 20px;

}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    li{
        a{
            margin: 0 20px;
            font-size: 16px;
            text-decoration: none;
        }
    }
}